h1{
    text-align:center; 
    font-family:serif;
    color:rgb(139, 0, 28); 
    font-weight: bold;
  }
  h2{
    /* float:right;   */
    font-family:serif;
    color:rgb(173, 50, 110); 
    font-weight: bold;
  }
  .page_img{
    width: 50%;
    height: 20%;
    float:left;
    margin-right: 20px;
    margin-bottom:100%;
    color:rgb(142, 202, 236); 

    
  }
  
  li{
    text-align:left;
    /* background-color: rgb(255, 169, 225); */
    /* overflow: hidden; */
    /* padding: 2%; */
  }

  cards {
    padding: 2%;
    display: flex;
    flex-wrap: wrap; 
    gap: 1%;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 10px;
    margin: 5% 5% 5% 0;
    /* background-color: rgb(209, 175, 123); */
    /* text-align: center; */
  } 



Button {
  text-decoration: none;
  color: rgb(137, 198, 251);
  background-color: rgb(226, 74, 145);
  cursor: pointer;
  display:inline-block;
  border-radius: 3px;
  padding: 10px;
  align-items: center;
  position:relative;
 

}
